.empty-leaderboard--modal .modal-content{
    color: #eee;
    font-size: 1.1em;
    background-color: #445;
}

.leaderboard-table {
    background-color: #334;
    color: #ddd;
    font-size: 1.2em;
    border-radius: 12px;
    overflow: hidden;
    border-collapse: separate;
}

.leaderboard-table thead {
    background-color: #445;
    color: #fff;
}

.leaderboard-table th,
.leaderboard-table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #556;
}

.leaderboard-table tbody tr:hover {
    background-color: #445;
    transition: all ease-in-out 0.2s;
}

.leaderboard-table .clickable-player {
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
}

.leaderboard-table .clickable-player img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.leaderboard-table .clickable-player:hover {
    color: #66b3ff;
    text-decoration: underline;
}

.modal-header-custom {
    background-color: #445;
    color: white;
    border-bottom: 1px solid #556;
}

/* Aplica apenas ao modal do leaderboard */
.leaderboard-modal .modal-content {
    background-color: transparent !important;
    border: none;
    box-shadow: none;
}

.leaderboard-modal .modal-body {
    background-color: transparent !important;
    padding: 0;
}
